Body {
    font-family: 'Poppins', sans-serif;
    margin: o;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: crimson;
}

p {
    text-align: justify;
}

section {
    display: flex;
    margin-bottom: 50px;
}

.initial-part {
    width: 50%;
    padding-left: 5%;
}

.second-part {
    width: 50%;
}

#profile-pic {
    width: 80%;
}

#about-me {
    width: 40%;
    padding-left: 250px;
}

.link-button {
    text-decoration: none;
    color: aliceblue;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 10px 20px;
    border: 5px;
    font-weight: 700;
}

.background-banner {
    background-image: url(images/frame.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;

}