Body {
    font-family: 'Poppins', sans-serif;
    margin: o;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    color: gray;
}

.orange-color {
    color: crimson;
}


section {
    display: flex;
    margin-bottom: 50px;
}

.initial-part {
    width: 50%;
    padding-left: 5%;
}

.second-part {
    width: 50%;
}

#profile-pic {
    width: 80%;
}

#about-pic {
    width: 50%;
    padding-left: 250px;
}

.link-button {
    text-decoration: none;
    color: aliceblue;
    background-image: linear-gradient(to right, orange, tomato);
    padding: 10px 20px;
    border: 5px;
    font-weight: 800;
}

.background-banner {
    background-image: url(images/frame.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.text-allign {
    padding-left: 200px;
}

.Second-part p {
    text-align: justify;
    max-width: 50%;
}

.my-recepies-heading {
    text-align: center;
    padding-left: 100px;
}

.my-recepies-heading p {
    font-size: 20px;
}


.recepie-1 {
    width: 50%;
    padding-left: 40px;

}

.recepie-1 img {
    width: 60%;
}

.recepie-2 {
    width: 50%;
}

.recepie-2 img {
    width: 60%;
}

.last-part {
    display: flex;
}